$grid-breakpoints:  (
    'xs': 0,
    'sm': 760px,
    'md': 1060px,
    'lg': 1180px - 16px,
    'xl': 1180px - 16px,
);
@use 'vuetify/settings' with (
  $color-pack: false,
  $utilities: false,
  $button-height: 70px,

);
$material-dark: (
  'background': #11120e,
 
	'text': (
    'primary': #e9f1f5,
		'secondary': #e1e3d1,
	),

);