@use 'global.scss';
@use 'vuetify/settings' with (
  $color-pack: false,
  // $utilities: false,
  // $button-height: global.$sizew,
  $body-font-family: 'Roboto Slab',
  $grid-breakpoints:  (
    'xs': 0,
    'sm': 760px,
    'md': 1060px,
    'lg': 1180px - 16px,
    'xl': 1180px - 16px,
    'xxl': 1380px - 16px,
  ),
  $tooltip-text-color: #000,
  $tooltip-background-color: rgba(var(--v-theme-surface-variant), .8),
  // $v-theme-primary: global.$primary-color
 // $v-primary: global.$primary-color !default
);
  .v-tooltip{
    font-family: 'Play';
  }   
	a{
		color: global.$link-color !important;
		text-decoration: none;
	}
	a:hover {
		color:  global.$link-hover 	!important;
	}
